body {
  background-color: #82C8E5;
  font-family: 'Pixelify Sans', sans-serif;
  padding: 20px;
}

.post {
  background: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
}